<div class="tweets-container">
  <% @tweets.each do |t| %>
    <div class="tweet">
    日付: <%= t.date %>
    場所: <%= t.place %>
    スコア合計: <%= t.scoresum %>
       <%= link_to "詳細へ", tweet_path(t.id) %>
      <%= link_to "編集する", edit_tweet_path(t.id) %>
      <%= button_to "削除する", tweet_path(t.id), method: :delete %>
    </div>
  <% end %>
</div>